@font-face{
	font-family: UpperEastSide;
	src: url(UpperEastSide/UpperEastSide.ttf) format('truetype');
}
@font-face{
	font-family: Signika;
	src: url(Signika/SignikaRegular.ttf) format('truetype');	
}
body{
	margin: 0px;
	color: #ffffff;
	text-align: center;
}

/* background pentru fiecare sectiune */
#Ponton{
    background: 
 		url("Galerie/wallpaper_TW.jpg"); 
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    height: 100vh;
    width: 100%;
}
#Albastru{
    height: 100vh;
    width: 100%;
    background: #0f295a;
}
#Verde{
    height: 100vh;
    width: 100%;
    background: #1c5d3b;
}
#Roz{
	height: 100vh;
	width: 100%;
	background: #e3a2a6;
}
#Rosu{
  	height: 100vh;
  	width: 100%;
  	background: #f50d1b;
  	overflow-x: auto;
}
#Galben{
  	height: 100vh;
  	width: 100%;
  	background: #ffff4d;
}

/* set pentru tav-ul din home page */
#Ponton nav{
	font-family: UpperEastSide;
	text-decoration: none;
	font-size: 50px;
	color: #ffffff;
	background-color: transparent;
	text-shadow: 0 0 30px #ffffff;
	position: relative;
	top: 27vh;
}
a:link {
	color: #ffffff;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
}

/* set pentru headere */
h1{
    margin: 0px;
 	font-family: UpperEastSide;	
 	font-size: 150px;
 	color: #ffffff;
 	padding-top: 10vh;
 	font-style: normal;
 	font-weight: normal;
 }
#Ponton h1{
	position: relative;
	top: 17vh;
}

/* umbre pentru headere */
 #Ponton h1:hover{
  	text-shadow: 0 0 30px #ffffff;
 }
 #Albastru, #Verde #Rosu h1{
  	text-shadow: 0 0 30px #ffffff;
 }
 #Roz h1{
  	text-shadow: 0 0 30px #ff66b3;
 }
 #Galben h1{
 	text-shadow: 0 0 30px #808000;
 }

/* back catre prima pagina */
.Home{
	float: right;
	font-family: Signika;
	text-decoration: none;
	font-size: 30px;
	position: relative;
	top: 35px;
	right: 16px;
}

/* umbre pentru Prima Pagina */ 
#Albastru, #Verde, #Rosu .Home:hover{
	text-shadow: 0 0 30px #ffffff;
}

#Roz .Home:hover{
	text-shadow: 0 0 30px #ff66b3;
}
#Galben .Home:hover{
	text-shadow: 0 0 30px #808000;
}

/* melodia */
audio{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

/* content pentru albastru - Poveste */
#Albastru iframe {
	height: 60vh;
	width: 70vw;
}

/* content pentru verde - Galerie */
#Verde img{
	position: relative;
	border-radius: 25px;
	opacity: 0.9;
}
#Verde img:hover{
	transform: scale(1.5,1.5);
	z-index: 5;
	position: relative;
	opacity: 1;
}
#Poza5{
	width: 20%;
	height: 40%;
	transform: rotate(-10deg);
	right: 5vw;
}
#Poza4{
	width: 30%;
	height: 35%;
	right: 10vw;
	bottom: 5vh;
}
#Poza8{
	width: 25%;
	height: 27%;
	transform: rotate(20deg);
	bottom: 8vh;
	right: 12vw;
}
#Poza1{
	width: 30%;
	height: 30%;
	transform: rotate(-5deg);
	bottom: 45vh;
	left: 60vw;
}
#Poza2{
	bottom: 15vh;
	right: 33vw;
	z-index: 2;
	transform: rotate(5deg);
	width: 25%;
	height: 25%;
}
#Poza3{
	right: 40vw;
	bottom: 12vh;
	width: 30%;
	height: 30%;
}
#Poza12{
	transform: rotate(-5deg);
	width: 15%;
	height: 45%;
	bottom: 52vh;
	left: 45vw;
}
#Poza11{
	width: 30%;
	height: 35%;
	bottom: 57vh;
	left: 43vw;
}
#Poza6{
	width: 15%;
	height: 15%;
	right: 20vw;
	bottom: 80vh;
}
#Poza7{
	z-index: 1;
	width: 25%;
	height: 20%;
	bottom: 50vh;
	right: 60vw;
}
#Poza9{
	width: 20%;
	height: 18%;
	bottom: 70vh;
	left: 3vw;

}
#Poza10{
	width: 20%;
	height: 20%;
	bottom: 70vh;
	left: 5vw;
}
/* content pentru roz - Trailer */
#Roz video{
	height: 60vh;
	width: 70vw;
}

/* content pentru rosu - Premii */
table{
	position: relative;
	top: 5vh;
	width: 70vw;
	font-family: Signika;
	margin: 0 auto;
}
table,tr,td,th {
 	border: 2px solid #ffffff;
 	border-collapse: collapse;
	margin: auto;
	height: 5vh;
 }
th{
	font-size: 30px;
	font-weight: bold;
}
td{
	font-size: 20px;
}
col:nth-of-type(1) {
	width: 80vh;
}
col:nth-of-type(2) {
	width: 80vh;
}
col:nth-of-type(3) {
	width: 40vh;
}


/* content pentru galben - Melodii */
ul{
	font-family: Signika;
	font-size: 30px;
	font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    position: relative;
    top: 10vh;
}
li{
	text-shadow: 0 0 1px #808000;
}
li:hover{
	text-shadow: 0 0 30px #808000;
}

